<p-card class="profile-section-card"> 
    <ng-template pTemplate="title">
        <h2 class="text-2xl font-bold mb-4">
            Mis Mascotas
        </h2>
    </ng-template>
    
    <ng-template pTemplate="content">
        <div class="grid">
            <ng-container *ngIf="pets.length; else emptyPets">
                <div *ngFor="let pet of pets" class="col-12 sm:col-6 lg:col-3 xl:col-2 mb-4">
                    <app-my-pets-cards [pet]="pet" (editPet)="onPetEdit($event)"></app-my-pets-cards> 
                </div>
            </ng-container>
            
            <ng-template #emptyPets>
                <div class="col-12 mb-3">
                    <p class="text-color-secondary">Aún no tienes mascotas guardadas. Añade la primera:</p>
                </div>
            </ng-template>
            
            <div class="col-12 sm:col-6 lg:col-3 xl:col-2 mb-4">
                <app-add-pet-card (addClicked)="onAddPet()"></app-add-pet-card>
            </div>
        </div>
    </ng-template>
</p-card>
