/* my-pets.scss */
$primary-blue: #294374;

.profile-section-card {
    //border: 1px solid $primary-blue !important; 
    
    .p-card-content {
        padding: 1.5rem !important;
    }

}

h2{
    color: $primary-blue;
}