<nav class="bottom-nav">
  <a routerLink="/app/home" routerLinkActive="active" class="nav-item">
    <img src="./././../../../../assets/img/logo.png" alt="Inicio" class="nav-icon-img">
  </a>
  <a routerLink="/app/animales-perdidos" routerLinkActive="active" class="nav-item">
     <img src="./././../../../../assets/img/Anima.png" alt="animales-perdidos" class="nav-icon-img">
  </a>
  <a routerLink="/app/animales-encontrados" routerLinkActive="active" class="nav-item">
    <img src="./././../../../../assets/img/Encon.png" alt="animales-encontrados" class="nav-icon-img">
  </a>
  <a routerLink="/app/notificaciones" routerLinkActive="active" class="nav-item">
    <i class="pi pi-bell"></i>
  </a>
  <a routerLink="/app/perfil" routerLinkActive="active" class="nav-item">
    <i class="pi pi-user"></i>
  </a>
</nav>
