/* my-ubications.scss */
$primary-blue: #294374;

h2 {
    color: $primary-blue;
}

:host ::ng-deep .p-button-primary {
    background-color: $primary-blue !important;
    border-color: $primary-blue !important;
    color: white !important;

    &:hover {
        background-color: darken($primary-blue, 5%) !important;
        border-color: darken($primary-blue, 5%) !important;
    }
}
