/* add-ubications-card.component.scss */

$primary-blue: #294374; 
$hover-blue: #EDF0F7;

.add-location-card {
    height: 100% !important; /* ✅ Ocupa toda la altura disponible en el grid */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--surface-300); /* Borde punteado para indicar acción */
    background-color: var(--surface-100);
    transition: background-color 0.2s, border-color 0.2s;
    border-radius: 8px;
    cursor: pointer;

    // Asegura que el contenido ocupe todo el espacio de la tarjeta
    .p-card-body {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background-color: $hover-blue;
        border-color: $primary-blue;
        .pi-map {
            color: $primary-blue !important;
        }
    }
}