/* add-pet-card.component.scss */

.add-pet-card {
    cursor: pointer;
    height: 100%; 
    min-height: 280px; 
    background-color: #EDF0F7; 
    border: 2px dashed #294374; 
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &:hover {
        background-color: var(--surface-200);
        border-color: var(--primary-color);
        box-shadow: 0 0 0 0.1rem rgba(41, 67, 116, 0.25);
    }

    .p-card-body, .p-card-content {
        height: 100%;
        padding: 0 !important;
    }
    
    .pi-plus-circle {
        color: #294374; 
    }
    .font-semibold {
        color: var(--text-color);
    }
}