/* account-info.scss */

$primary-blue: #294374;
$hover-blue: #EDF0F7;


h2 {
    color: $primary-blue;
}

.account-summary-card {
    background-color: var(--surface-card, white);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    //border: 1px solid $primary-blue !important;

    margin: 0;
    width: 100%;

    :host ::ng-deep .p-card-header {
        padding-bottom: 0.5rem;

    }

    :host ::ng-deep .p-card-body {
        padding-top: 0 !important;
        padding-bottom: 1rem !important;
    }

    .profile-title {
        color: $primary-blue;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;

        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }


    .user-info {
        max-width: 90%;

        .name {
            font-weight: 700;
        }

        p {
            line-height: 1.3;
        }
    }

    .profile-avatar-container {
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;

        .profile-image-display {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid $primary-blue;
            object-fit: cover;
            display: block;
        }

        .profile-avatar-default {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid $primary-blue;
            background-color: #EDF0F7;
            color: $primary-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.5rem;

            i {
                font-size: 3.5rem;
            }
        }
    }
}

//Estilo del boton de editar perfil
:host ::ng-deep .account-summary-card .p-button-outlined {
    background-color: $primary-blue !important;
    color: white !important;
    border-color: $primary-blue !important;
    &:hover {
        background-color: darken($primary-blue, 5%) !important;
        border-color: darken($primary-blue, 5%) !important;
    }
}
