<p-card styleClass="account-summary-card">
    
    <ng-template pTemplate="title">
        <h2 class="text-2xl font-bold mb-4">Mi Perfil</h2>
    </ng-template>
    
    <ng-template pTemplate="content">
        <div class="flex flex-column align-items-center text-center">
            
            <!-- Mostrar imagen personalizada si existe, sino mostrar icono por defecto -->
            <div class="profile-avatar-container">
                <img *ngIf="profileImageUrl" 
                     [src]="profileImageUrl" 
                     alt="Profile" 
                     class="profile-image-display">
                <div *ngIf="!profileImageUrl" class="profile-avatar-default">
                    <i class="pi pi-user"></i>
                </div>
            </div>
            
            <div class="user-info">
                <p class="username text-lg font-bold m-0">
                    @{{ user.username }}
                </p>
                <p class="name text-sm text-color-secondary m-0 mt-2">
                    {{ user.nombre }} {{ user.apellidoPaterno }} {{ user.apellidoMaterno }}
                </p>
                <p class="email text-sm text-color-secondary m-0 mt-1">
                    {{ user.email }}
                </p>
            </div>
            
            <p-button 
                label="Editar Perfil" 
                icon="pi pi-pencil" 
                styleClass="p-button-outlined p-button-sm mt-4" 
                (onClick)="onEditProfile()"> 
            </p-button>

        </div>
    </ng-template>
</p-card>