<div class="found-pet-card">
  <div class="pet-image">
    <img [src]="foundPet.image" [alt]="foundPet.type + ' encontrado'" />
    <div class="favorite-icon">
      <i class="pi pi-heart"></i>
    </div>
  </div>
  
  <div class="pet-info">
    <div class="pet-details">
      <h3 class="pet-name">{{ foundPet.breed }}</h3>
      <p class="pet-breed">{{ foundPet.type }}</p>
      <p class="pet-description">{{ foundPet.description }}</p>
      
      <div class="location-time-info">
        <div class="location-info">
          <i class="pi pi-map-marker"></i>
          <span>{{ foundPet.location }}</span>
        </div>
        <div class="time-info">
          <i class="pi pi-clock"></i>
          <span>{{ getTimeAgo(foundPet.foundDate) }}</span>
        </div>
      </div>
    </div>
    
    <div class="pet-footer">
      <button class="contact-btn" (click)="onContact()">
        <i class="pi pi-phone"></i>
        Contactar
      </button>
    </div>
  </div>
</div>