<div class="news-banner">
  <div class="news-container">
    

    <div class="news-slider">
      

      <div class="news-content">
        <div class="news-item" [class]="getNewsTypeClass(newsItems[currentIndex].type)">
          <div class="news-icon">
            <i class="pi" [ngClass]="newsItems[currentIndex].icon"></i>
          </div>
          <div class="news-body">
            <h3>{{ newsItems[currentIndex].title }}</h3>
            <p>{{ newsItems[currentIndex].description }}</p>
           
          </div>
        </div>
      </div>

    </div>

    <div class="news-indicators">
      <span 
        *ngFor="let item of newsItems; let i = index"
        class="indicator"
        [class.active]="i === currentIndex"
        (click)="goToNews(i)">
      </span>
    </div>
  </div>
</div>
