/* my-pets-cards.scss */

$primary-blue: #294374;
$hover-blue: #EDF0F7;

.pet-card {
    min-height: 350px; 
    border-radius: 12px;
    background-color: var(--surface-card, white);
    //border: 1px solid $primary-blue; 
    display: flex;
    flex-direction: column;

    // Contenedor de la imagen
    .pet-image-container {
        width: 100%;
        height: 200px; 
        overflow: hidden;
        border-radius: 11px 11px 0 0; 
        background-color: $hover-blue; 

        .pet-image {
            width: 100%;
            height: 100%;
            object-fit: contain; 
            display: block; 
        }
    }
    
    // Contenido
    .p-card-content {
        padding: 1rem !important;
        background-color: $hover-blue; 
        border-radius: 0 0 11px 11px;
        text-align: center;
        flex-grow: 1; 
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        
        .pet-name {
            color: var(--text-color);
            font-size: 1.3rem; 
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
        .pet-breed-info, .pet-age-weight {
            color: var(--text-color-secondary);
            font-size: 1rem; 
            line-height: 1.4;
        }
    }

}

//Estilo del boton de editar mascota 

:host ::ng-deep .pet-card .pet-edit-button {
    background-color: $primary-blue !important;
    color: white !important;
    border-color: $primary-blue !important;
    &:hover {
        background-color: darken($primary-blue, 5%) !important;
        border-color: darken($primary-blue, 5%) !important;
    }
}