<p-card class="profile-section-card"> 
    <ng-template pTemplate="title">
        <h2 class="text-2xl font-bold mb-4">Mis Mascotas</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="grid">
            <div *ngFor="let pet of pets" class="col-12 sm:col-6 lg:col-4 xl:col-3 mb-4">
                <app-my-pets-cards [pet]="pet"></app-my-pets-cards>
            </div>
            
            <div class="col-12 sm:col-6 lg:col-4 xl:col-3 mb-4">
                <app-add-pet-card></app-add-pet-card>
            </div>
        </div>
    </ng-template>
</p-card>